# Visualização dos dados e tratamento

## Bibliotecas

In [34]:
import pandas as pd

## Importando os dados

In [35]:
body_splash = pd.read_csv('../avon/body_splash/bodysplash.csv')
antitranspirante = pd.read_csv('../avon/antitranspirante/antitranspirante.csv')
shampoo = pd.read_csv('../avon/shampoo/shampoo.csv')
sabonete = pd.read_csv('../avon/sabonete/sabonete.csv')

## Tratando dados da Avon

### Conhecendo os DataFrame

#### Body Splashs

In [36]:
body_splash.head(3)

                                                nome     preco
0   Body Splash Aquavibe Refrescante Lavanda - 300ml  R$ 23,99
1  Body Splash Aquavibe Refrescantes Pretty Blue ...  R$ 44,90
2                  Body Splash Aquavibe Lavanda - 1L  R$ 44,90

In [37]:
# removendo duplicadas #
body_splash = body_splash.drop_duplicates(subset='nome')
#  #  #  #

In [38]:
body_splash.shape

(17, 2)

In [39]:
print('Ocorrencia de valor nulo em cada coluna:')
body_splash.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [40]:
# transformando dados #

# removendo 'R$' #
body_splash['preco'] = body_splash['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
body_splash['preco'] = body_splash['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
body_splash['preco'] = body_splash['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

#  #  #  #

In [41]:
# quantidade de produtos indisponiveis #
freq = body_splash.groupby(['preco']).count() 
print(freq)
#  #  #  #

        nome
preco
0.0        2
 11.00     1
 12.39     2
 23.99     9
 34.89     1
 44.90     2

In [42]:
print(f'O DataFrame possui {body_splash.shape[0]} linhas e {body_splash.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {body_splash.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 2 valores indisponiveis.')
print('\n')
body_splash.info()

O DataFrame possui 17 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 17 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 2 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    17 non-null     object
 1   preco   17 non-null     object
dtypes: object(2)
memory usage: 272.0+ bytes

In [43]:
# salvando arquivo #
body_splash.to_csv('../dados/body_splash_a.csv')
#  #  #  #

#### Antitranspirante

In [44]:
antitranspirante.head(3)

                                                nome    preco
0  Antitranspirante Roll-On 300Km/h Max Turbo - 50ml  R$ 6,99
1        Antitranspirante Roll-On Musk Marine - 50ml  R$ 6,99
2  Desodorante Roll-On Antitranspirante  Erva Doc...  R$ 6,99

In [45]:
# removendo duplicadas #
antitranspirante = antitranspirante.drop_duplicates(subset='nome')
#  #  #  #

In [46]:
antitranspirante.shape

(44, 2)

In [47]:
print('Ocorrencia de valor nulo em cada coluna:')
antitranspirante.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [48]:
# transformando dados #

# removendo 'R$' #
antitranspirante['preco'] = antitranspirante['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
antitranspirante['preco'] = antitranspirante['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
antitranspirante['preco'] = antitranspirante['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

#  #  #  #

In [49]:
# quantidade de produtos indisponiveis #
freq = antitranspirante.groupby(['preco']).count() 
print(freq)
#  #  #  #

        nome
preco
0.0        1
 17.99     7
 4.13      2
 4.15      1
 6.39      1
 6.89      1
 6.99     25
 7.99      6

In [50]:
print(f'O DataFrame possui {antitranspirante.shape[0]} linhas e {antitranspirante.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {antitranspirante.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o data frame possui 1 valor indisponivel.')
print('\n')
antitranspirante.info()

O DataFrame possui 44 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 44 produtos.
 Produtos indisponiveis considerei como "0.0", o data frame possui 1 valor indisponivel.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 43
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    44 non-null     object
 1   preco   44 non-null     object
dtypes: object(2)
memory usage: 704.0+ bytes

In [51]:
# salvando arquivo #
antitranspirante.to_csv('../dados/antitranspirante_a.csv')
#  #  #  #

#### Shampoo

In [52]:
shampoo.head(3)

                                                nome     preco
0  Shampoo Controle de Queda Advance Techniques -...  R$ 19,99
1  Shampoo e Condicionador 2 em 1 Naturals Cabelo...  R$ 29,99
2  Shampoo Cachos Fabulosos Advance Techniques - ...  R$ 19,99

In [53]:
# removendo duplicadas #
shampoo = shampoo.drop_duplicates(subset='nome')
#  #  #  #

In [54]:
shampoo.shape

(34, 2)

In [55]:
print('Ocorrencia de valor nulo em cada coluna:')
shampoo.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [56]:
# transformando dados #

# removendo 'R$' #
shampoo['preco'] = shampoo['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
shampoo['preco'] = shampoo['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
shampoo['preco'] = shampoo['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

#  #  #  #

In [57]:
# quantidade de produtos indisponiveis #
freq = shampoo.groupby(['preco']).count() 
print(freq)
#  #  #  #

        nome
preco
0.0        9
 12.99     2
 14.99     3
 16.99     4
 18.99     2
 19.99     4
 21.29     1
 22.69     1
 25.99     1
 29.99     3
 31.99     1
 49.99     1
 7.50      1
 8.79      1

In [58]:
print(f'O DataFrame possui {shampoo.shape[0]} linhas e {shampoo.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {shampoo.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 1 valor indisponivel.')
print('\n')
shampoo.info()

O DataFrame possui 34 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 34 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 1 valor indisponivel.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    34 non-null     object
 1   preco   34 non-null     object
dtypes: object(2)
memory usage: 544.0+ bytes

In [59]:
# salvando arquivo #
shampoo.to_csv('../dados/shampoo_a.csv')
#  #  #  #

#### Sabonete

In [60]:
sabonete.head(3)

                                                nome     preco
0        Sabonete Gel de Limpeza Facial Renew - 150g  R$ 33,90
1  Sabonete de Limpeza Clearskin Extraforte com Á...  R$ 12,99
2     Sabonete Gel de Limpeza Facial Clearskin - 60g  R$ 13,99

In [61]:
# removendo duplicados #
sabonete = sabonete.drop_duplicates('nome')
#  #  #  #

In [62]:
sabonete.shape

(52, 2)

In [63]:
print('Ocorrencia de valor nulo em cada coluna:')
sabonete.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [64]:
# transformando dados #

# removendo 'R$' #
sabonete['preco'] = sabonete['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
sabonete['preco'] = sabonete['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
sabonete['preco'] = sabonete['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

#  #  #  #

In [65]:
# quantidade de produtos indisponiveis #
freq = sabonete.groupby(['preco']).count() 
print(freq)
#  #  #  #

        nome
preco
0.0        3
 10.00     1
 10.99     2
 12.99     4
 13.99     1
 14.99     6
 15.99     1
 16.99     1
 18.99     7
 19.99     1
 20.99     4
 21.99     3
 23.99     2
 25.99     1
 26.99     4
 27.99     1
 28.99     2
 33.90     1
 6.29      1
 6.79      1
 9.19      1
 9.99      4

In [66]:
print(f'O DataFrame possui {sabonete.shape[0]} linhas e {sabonete.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {sabonete.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 3 valores indisponiveis.')
print('\n')
shampoo.info()

O DataFrame possui 52 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 52 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 3 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    34 non-null     object
 1   preco   34 non-null     object
dtypes: object(2)
memory usage: 544.0+ bytes

In [67]:
# salvando arquivo #
sabonete.to_csv('../dados/sabonete_a.csv')
#  #  #  #