# Visualização dos dados e tratamento

## Bibliotecas

In [3]:
import pandas as pd

## Importando os dados

In [4]:
body_splash = pd.read_csv('../avon/body_splash/bodysplash.csv')
antitranspirante = pd.read_csv('../avon/antitranspirante/antitranspirante.csv')
shampoo = pd.read_csv('../avon/shampoo/shampoo.csv')
sabonete = pd.read_csv('../avon/sabonete/sabonete.csv')

## Tratando dados da Avon

### Conhecendo os DataFrame

#### Body Splashs

In [5]:
body_splash.head(3)

                                                nome     preco
0   Body Splash Aquavibe Refrescante Lavanda - 300ml  R$ 23,99
1  Body Splash Aquavibe Refrescantes Pretty Blue ...  R$ 44,90
2                  Body Splash Aquavibe Lavanda - 1L  R$ 44,90

In [6]:
# removendo duplicadas #
body_splash = body_splash.drop_duplicates(subset='nome')
#  #  #  #

In [7]:
body_splash.shape

(17, 2)

In [8]:
print('Ocorrencia de valor nulo em cada coluna:')
body_splash.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [9]:
# transformando dados #

# removendo 'R$' #
body_splash['preco'] = body_splash['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
body_splash['preco'] = body_splash['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
body_splash['preco'] = body_splash['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
body_splash = body_splash.rename(columns={'preco':'preco(R$)'})
#  #  #  #

In [10]:
# quantidade de produtos indisponiveis #
freq = body_splash.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

           nome
preco(R$)
0.0           2
 11.00        1
 12.39        2
 23.99        9
 34.89        1
 44.90        2

In [11]:
print(f'O DataFrame possui {body_splash.shape[0]} linhas e {body_splash.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {body_splash.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 2 valores indisponiveis.')
print('\n')
body_splash.info()

O DataFrame possui 17 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 17 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 2 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       17 non-null     object
 1   preco(R$)  17 non-null     object
dtypes: object(2)
memory usage: 272.0+ bytes

In [14]:
# salvando arquivo #
body_splash.to_csv('../dados/body_splash.csv')
#  #  #  #

#### Antitranspirante

In [ ]:
antitranspirante.head(3)

In [ ]:
# removendo duplicadas #
antitranspirante = antitranspirante.drop_duplicates(subset='nome')
#  #  #  #

In [ ]:
antitranspirante.shape

In [ ]:
print('Ocorrencia de valor nulo em cada coluna:')
antitranspirante.isna().sum()

In [ ]:
# transformando dados #

# removendo 'R$' #
antitranspirante['preco'] = antitranspirante['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
antitranspirante['preco'] = antitranspirante['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
antitranspirante['preco'] = antitranspirante['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
antitranspirante = antitranspirante.rename(columns={'preco':'preco(R$)'})
#  #  #  #

In [ ]:
# quantidade de produtos indisponiveis #
freq = antitranspirante.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

In [ ]:
print(f'O DataFrame possui {antitranspirante.shape[0]} linhas e {antitranspirante.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {antitranspirante.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o data frame possui 1 valor indisponivel.')
print('\n')
antitranspirante.info()

In [17]:
# salvando arquivo #
antitranspirante.to_csv('../dados/antitranspirante.csv')
#  #  #  #

#### Shampoo

In [ ]:
shampoo.head(3)

In [ ]:
# removendo duplicadas #
shampoo = shampoo.drop_duplicates(subset='nome')
#  #  #  #

In [ ]:
shampoo.shape

In [ ]:
print('Ocorrencia de valor nulo em cada coluna:')
shampoo.isna().sum()

In [ ]:
# transformando dados #

# removendo 'R$' #
shampoo['preco'] = shampoo['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
shampoo['preco'] = shampoo['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
shampoo['preco'] = shampoo['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
shampoo = shampoo.rename(columns={'preco':'preco(R$)'})
#  #  #  #

In [ ]:
# quantidade de produtos indisponiveis #
freq = shampoo.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

In [ ]:
print(f'O DataFrame possui {shampoo.shape[0]} linhas e {shampoo.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {shampoo.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 1 valor indisponivel.')
print('\n')
shampoo.info()

In [18]:
# salvando arquivo #
shampoo.to_csv('../dados/shampoo.csv')
#  #  #  #

#### Sabonete

In [ ]:
sabonete.head(3)

In [ ]:
# removendo duplicados #
sabonete = sabonete.drop_duplicates('nome')
#  #  #  #

In [ ]:
sabonete.shape

In [ ]:
print('Ocorrencia de valor nulo em cada coluna:')
sabonete.isna().sum()

In [ ]:
# transformando dados #

# removendo 'R$' #
sabonete['preco'] = sabonete['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
sabonete['preco'] = sabonete['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
sabonete['preco'] = sabonete['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
sabonete = sabonete.rename(columns={'preco':'preco(R$)'})
#  #  #  #

In [ ]:
# quantidade de produtos indisponiveis #
freq = sabonete.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

In [ ]:
print(f'O DataFrame possui {sabonete.shape[0]} linhas e {sabonete.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {sabonete.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 3 valores indisponiveis.')
print('\n')
shampoo.info()

In [19]:
# salvando arquivo #
sabonete.to_csv('../dados/sabonete.csv')
#  #  #  #