# Visualização dos dados e tratamento

## Bibliotecas

In [48]:
import pandas as pd

## Importando os dados

In [49]:
body_splash = pd.read_csv('../jequiti/body_splash/bodysplash.csv')

## Tratando dados da Jequiti

### Conhecendo os DataFrame

#### Body Splashs

In [50]:
body_splash.head(4)

                                                nome      preco
0  Patricia Abravanel Intenso Desodorante Colônia...  R$ 110,42
1              Batom Cremoso Ellas Candy Rosa, 3,5 g    R$ 8,42
2          Shampoo Sensi Hidratacao e Maciez, 250 ml   R$ 13,52
3     Desodorante Colônia Splash Eu Conquisto 200 ml   R$ 36,46

In [51]:
# removendo duplicadas #
body_splash = body_splash.drop_duplicates(subset='nome')

# removendo produtos que nao são body splash #
bs = body_splash.drop(body_splash.index[[0,1,2]])
#  #  #  #

In [52]:
bs.shape

(4, 2)

In [53]:
print('Ocorrencia de valor nulo em cada coluna:')
bs.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [54]:
# transformando dados #

# removendo 'R$' #
bs['preco'] = bs['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
bs['preco'] = bs['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
bs['preco'] = bs['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
bs = bs.rename(columns={'preco':'preco(R$)'})
#  #  #  #

In [55]:
# quantidade de produtos indisponiveis #
freq = bs.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

           nome
preco(R$)
 36.46        3
 38.16        1

In [56]:
print(f'O DataFrame possui {bs.shape[0]} linhas e {bs.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {bs.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.')
print('\n')
body_splash.info()

O DataFrame possui 4 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 4 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    7 non-null      object
 1   preco   7 non-null      object
dtypes: object(2)
memory usage: 336.0+ bytes

#### Antitranspirante