# Visualização dos dados e tratamento

## Bibliotecas

In [32]:
import pandas as pd

## Importando os dados

In [33]:
body_splash = pd.read_csv('../jequiti/body_splash/bodysplash.csv')
antitranspirante = pd.read_csv('../jequiti/antitranspirante/antitranspirante.csv')
shampoo1 = pd.read_csv('../jequiti/shampoo/shampoo1.csv')
shampoo2 = pd.read_csv('../jequiti/shampoo/shampoo2.csv')
shampoo3 = pd.read_csv('../jequiti/shampoo/shampoo3.csv')
shampoo4 = pd.read_csv('../jequiti/shampoo/shampoo4.csv')
sabonete1 = pd.read_csv('../jequiti/sabonete/sabonete1.csv')
sabonete2 = pd.read_csv('../jequiti/sabonete/sabonete2.csv')
sabonete3 = pd.read_csv('../jequiti/sabonete/sabonete3.csv')
sabonete4 = pd.read_csv('../jequiti/sabonete/sabonete4.csv')
sabonete5 = pd.read_csv('../jequiti/sabonete/sabonete5.csv')
sabonete6 = pd.read_csv('../jequiti/sabonete/sabonete6.csv')

## Tratando dados da Jequiti

### Conhecendo os DataFrame

#### Body Splashs

In [34]:
body_splash.head(4)

                                                nome      preco
0  Patricia Abravanel Intenso Desodorante Colônia...  R$ 110,42
1              Batom Cremoso Ellas Candy Rosa, 3,5 g    R$ 8,42
2          Shampoo Sensi Hidratacao e Maciez, 250 ml   R$ 13,52
3     Desodorante Colônia Splash Eu Conquisto 200 ml   R$ 36,46

In [35]:
# removendo duplicadas #
body_splash = body_splash.drop_duplicates(subset='nome')

# removendo produtos que nao são body splash #
bs = body_splash.drop(body_splash.index[[0,1,2]])
#  #  #  #

In [36]:
bs.shape

(4, 2)

In [37]:
print('Ocorrencia de valor nulo em cada coluna:')
bs.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [38]:
# transformando dados #

# removendo 'R$' #
bs['preco'] = bs['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
bs['preco'] = bs['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
bs['preco'] = bs['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
bs = bs.rename(columns={'preco':'preco(R$)'})
#  #  #  #

In [39]:
# quantidade de produtos indisponiveis #
freq = bs.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

           nome
preco(R$)
 36.46        3
 38.16        1

In [40]:
print(f'O DataFrame possui {bs.shape[0]} linhas e {bs.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {bs.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.')
print('\n')
body_splash.info()

O DataFrame possui 4 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 4 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    7 non-null      object
 1   preco   7 non-null      object
dtypes: object(2)
memory usage: 336.0+ bytes

#### Antitranspirante

In [41]:
antitranspirante.head(5)

                                                nome      preco
0  Patricia Abravanel Intenso Desodorante Colônia...  R$ 110,42
1              Batom Cremoso Ellas Candy Rosa, 3,5 g    R$ 8,42
2          Shampoo Sensi Hidratacao e Maciez, 250 ml   R$ 13,52
3  Desodorante Aerossol Antitranspirante Sensi Me...   R$ 19,46
4  Desodorante Antitranspirante Sensi Suave Aeros...   R$ 14,36

In [42]:
antitranspirante.tail(5)

                                                 nome     preco
14  Desodorante Antitranspirante Sensi Men Cool Ic...  R$ 14,36
15  Desodorante Antitranspirante Roll-On Sensi Men...  R$ 11,82
16  Desodorante Antitranspirante Roll On Masculino...  R$ 11,82
17  Desodorante Roll-on Antitranspirante Sensi Men...  R$ 11,82
18  Kit de Desodorantes Aerossol Antitranspirante ...  R$ 74,90

In [43]:
# removendo duplicadas #
antitranspirante = antitranspirante.drop_duplicates(subset='nome')

# removendo produtos que nao são body splash #
a = antitranspirante.drop(antitranspirante.index[[0,1,2]])
#  #  #  #

In [44]:
a.shape

(16, 2)

In [45]:
print('Ocorrencia de valor nulo em cada coluna:')
a.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [46]:
# transformando dados #

# removendo 'R$' #
a['preco'] = a['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
a['preco'] = a['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
a['preco'] = a['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
a = a.rename(columns={'preco':'preco(R$)'})
#  #  #  #

In [47]:
# quantidade de produtos indisponiveis #
freq = a.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

           nome
preco(R$)
 11.82        5
 14.36        5
 149.90       1
 15.22        1
 16.06        1
 19.46        2
 74.90        1

In [48]:
print(f'O DataFrame possui {a.shape[0]} linhas e {a.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {a.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.')
print('\n')
body_splash.info()

O DataFrame possui 16 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 16 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    7 non-null      object
 1   preco   7 non-null      object
dtypes: object(2)
memory usage: 336.0+ bytes

#### Shampoo

In [49]:
frames = [shampoo1, shampoo2, shampoo3, shampoo4]
shampoo = pd.concat(frames)
shampoo.head(7)

                                                nome      preco
0  Patricia Abravanel Intenso Desodorante Colônia...  R$ 110,42
1                Lápis Para Olhos Ellas Kajal 1, 2 g   R$ 16,06
2          Shampoo Sensi Hidratacao e Maciez, 250 ml   R$ 13,52
3          Shampoo Sensi Hidratacao e Maciez, 250 ml   R$ 13,52
4  Shampoo Fyo Profissional Cachos Naturais e Def...   R$ 24,56
5   Shampoo Fyo Profissional Liso Prolongado, 300 ml   R$ 24,56
6  Shampoo Fyo Profissional Reconstrução Pós-Quím...   R$ 24,56

In [50]:
# removendo duplicadas #
shampoo = shampoo.drop_duplicates(subset='nome')

# removendo produtos que nao são body splash #
s = shampoo.drop(shampoo.index[[0,1,2]])
#  #  #  #

In [51]:
s.shape

(40, 2)

In [52]:
print('Ocorrencia de valor nulo em cada coluna:')
s.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [53]:
# transformando dados #

# removendo 'R$' #
s['preco'] = s['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
s['preco'] = s['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
s['preco'] = s['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
s = s.rename(columns={'preco':'preco(R$)'})
#  #  #  #

<ipython-input-53-90f4367f5cb4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['preco'] = s['preco'].map(lambda x: str(x).replace('R$', ''))
<ipython-input-53-90f4367f5cb4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['preco'] = s['preco'].map(lambda x: str(x).replace(',', '.'))
<ipython-input-53-90f4367f5cb4>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['preco'] = s['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

In [54]:
# quantidade de produtos indisponiveis #
freq = s.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

           nome
preco(R$)
 109.90       1
 11.82        1
 114.90       2
 116.90       1
 13.52        1
 14.36        1
 149.94       2
 16.06        1
 16.92        1
 18.62        1
 19.46        1
 22.02        3
 24.56        9
 31.80        2
 38.16        1
 39.90        4
 59.90        2
 61.40        1
 64.90        2
 66.90        1
 67.92        1
 68.70        1

In [63]:
print(f'O DataFrame possui {s.shape[0]} linhas e {s.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {s.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.')
print('\n')
s.info()

O DataFrame possui 40 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 40 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 4 to 24
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       40 non-null     object
 1   preco(R$)  40 non-null     object
dtypes: object(2)
memory usage: 640.0+ bytes

#### Sabonete

In [56]:
frames = [sabonete1, sabonete2, sabonete3, sabonete4, sabonete5, sabonete6]
sabonete = pd.concat(frames)
sabonete.head(7)

                                                nome      preco
0  Patricia Abravanel Intenso Desodorante Colônia...  R$ 110,42
1              Batom Cremoso Ellas Candy Rosa, 3,5 g    R$ 8,42
2          Shampoo Sensi Hidratacao e Maciez, 250 ml   R$ 13,52
3  Sabonete Hidratante Em Barra Sensi Sortidos 5X...   R$ 19,46
4      Sabonete Hidratante em Barra Sensi Leite 90 g    R$ 2,72
5  Sabonete Hidratante em Barra Sensi Mix de Óleo...    R$ 2,72
6    Sabonete Hidratante em Barra Sensi Verbena 90 g    R$ 3,57

In [57]:
# removendo duplicadas #
sabonete = sabonete.drop_duplicates(subset='nome')

# removendo produtos que nao são body splash #
sa = sabonete.drop(sabonete.index[[0,1,2]])
#  #  #  #

In [58]:
sa.shape

(55, 2)

In [59]:
print('Ocorrencia de valor nulo em cada coluna:')
sa.isna().sum()

Ocorrencia de valor nulo em cada coluna:

nome     0
preco    0
dtype: int64

In [60]:
# transformando dados #

# removendo 'R$' #
sa['preco'] = sa['preco'].map(lambda x: str(x).replace('R$', ''))

# transformando ',' em '. #'
sa['preco'] = sa['preco'].map(lambda x: str(x).replace(',', '.'))

# transformando 'produto indisponivel' em '0.0' #
sa['preco'] = sa['preco'].map(lambda x: str(x).replace('Produto indisponível', '0.0'))

# renomeando coluna 'preco' #
sa = sa.rename(columns={'preco':'preco(R$)'})
#  #  #  #

<ipython-input-60-98998bf6793b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa['preco'] = sa['preco'].map(lambda x: str(x).replace('R$', ''))
<ipython-input-60-98998bf6793b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa['preco'] = sa['preco'].map(lambda x: str(x).replace(',', '.'))

In [61]:
# quantidade de produtos indisponiveis #
freq = sa.groupby(['preco(R$)']).count() 
print(freq)
#  #  #  #

           nome
preco(R$)
 109.90       1
 11.82        1
 114.90       2
 116.90       1
 13.52        1
 14.36        1
 149.94       2
 16.06        1
 16.92        1
 18.62        1
 19.46        1
 22.02        3
 24.56        9
 31.80        2
 38.16        1
 39.90        4
 59.90        2
 61.40        1
 64.90        2
 66.90        1
 67.92        1
 68.70        1

In [62]:
print(f'O DataFrame possui {sa.shape[0]} linhas e {sa.shape[1]} colunas e 0 dados nulos, com isso, presumo que possui {sa.shape[0]} produtos.\n Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.')
print('\n')
sa.info()

O DataFrame possui 40 linhas e 2 colunas e 0 dados nulos, com isso, presumo que possui 40 produtos.
 Produtos indisponiveis considerei como "0.0", o dataframe possui 0 valores indisponiveis.


<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 4 to 24
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       40 non-null     object
 1   preco(R$)  40 non-null     object
dtypes: object(2)
memory usage: 640.0+ bytes